:root {
    --brandColor: hsl(0, 0%, 0%);
    /* --background: rgb(247, 247, 247); */
    --textDark: black;
    text-align: center;
    font-size: large;
  }
  body {
    background-color: rgb(16, 17, 17);
    background-repeat:no-repeat;
    color: var(--textDark);
    background-size: cover;
    height: 500px;
    width: 2050px;
    background-size: 100%;
    margin: 0;
    padding:0;
    
  }
  .field:not(:last-child) {
    margin-bottom: 1rem;
  }
  .register {
    margin-top: 10rem;
    /* background: white; */
    border-radius: 10px;
  }
  .left,
  .right {
    padding: 4.5rem;
  }
  .left {
    border-right: 5px solid var(--background);
  }
  .left .title {
    font-weight: 800;
    letter-spacing: -2px;
    color: rgb(255, 251, 251);
  }
  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }
  .left p {
   
    font-size: 1.15rem;
    color: rgb(255, 253, 253);
  }
  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
   
  }
  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
    color: silver;
  }
  .right small {
    color: var(--textLight);
    color: white;
  }
  input {
    font-size: 1rem;
  }
  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }
  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

 .title {
  font-size: 90px;
  color: rgb(241, 250, 241);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  padding: 1%;;
  white-space: nowrap;
 }

 .titleA {
  font-size: 100px;
  color: rgb(239, 253, 240);
  font-family:Impact, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 1%;
  margin-top: -5%;
  white-space: nowrap;
 }

 .btn {
  color: transparent;
  background-color: transparent;
  border: transparent; 
 }

 .button {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #13b613;
  padding: 1%;
  font-size: 24px;
  width: 1ch;
  border: 1px solid #98942d;
  text-align: center;
  margin-bottom: 20px;
  background-image: linear-gradient(bottom, rgb(13, 171, 97) 100%, rgb(13,171,97) 100%);
  background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(232, 126, 39)),
      color-stop(1, rgb(142, 187, 38))
  );
  -webkit-border-radius: px;
  -moz-border-radius: 5px;
  border-radius: 1px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(219, 13, 13, 0.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px #b7951a, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px #505501, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.child {
  line-height: 1cm;
  offset: 1cm;
  border: rgb(253, 245, 245) solid;
  background-color: rgb(20, 20, 20);
  border-radius: 20%;
  background-image: url(https://thumbs.gfycat.com/AdmirableWhimsicalEthiopianwolf-max-1mb.gif);

}

.in {
  text-align: left;
  
}

.hidden {
  text-align: left;
  position: relative;
  top: 2%;
}

.image {
  position: relative;
  bottom: -17%;
  border: solid rgb(230, 168, 11);
}

.select {
  text-align: center;
  ;
}
